<div class='room'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 login'>
      <h1>{{TC.game.name}}</h1>
    </div>
  </div>
  <div class='row' ng-repeat='player in TC.gamePlayers'>
    <div class='col-md-10 col-md-offset-1 hoverLobby'>
      <h3>{{player.username}}</h3>
    </div>
  </div>
  <div class='row' ng-if='TC.gameOwner === TC.playerToken'>
    <div class='col-md-4 col-md-offset-4 hoverLobby'>
      <input type='button' value='Start Game' ng-click='TC.startGame(TC.gamePlayers)' disabled>
    </div>
  </div>
</div>
